<p><em>&#8220;kodes is a simple service that allows you to test that your applications handle HTTP response codes properly&#8221;</em></p>
<h2>Usage</h2>
<p>using kodes is easy: simply redirect your HTTP calls to a url in the following format</p>
<center><b><%= url('/k/') %><span class="coloured">&lt;http-code&gt;</span></b></center>
<p>The response you get will have the required HTTP status code, as well as a description of the code itself if you forgot it!</p>
<h2>Codes</h2>
<ul>
	<% @codes.each do |index,k| %>
	<li><a href="<%= url('/c/'+index.to_s) %>"><%= index.to_s %></a></li>
	<% end %>
</ul>
<p>
	HTTP 1.1 specs are here in case one isn't on Kodes: <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">HTTP/1.1: Status Code Definitions</a>
</p>
