<h1><%= @code %></h1>

<p>
	<small>Check your browser console for the http status of the response</small>
</p>
<% if @real_error %>
<p>This is nowhere to be found. By the way, this is because you entered a wrong url! If you really want to test a 404, go to <a href="/404">404</a></p>
<% end %>