<!Doctype HTML>
<html>
<head>
	<title>kodes | test your front-end ajax response handlers</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<h1><a href="<%= url('/') %>">kodes</a></h1>
	</header>
	<div id="box">
	<%= yield %>
	</div>
	<footer>Mathieu Davy - 2011</footer>
</body>
</html>